In [17]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
df = pd.read_csv('raw_data/causes_death_state.csv')

In [9]:
df.columns

Index(['State', 'Total', 'Diseases of heart', 'Malignant neoplasms (cancer)',
       'Cerebrovascular diseases', 'Chronic lower respiratory disease',
       'Total Accidents', 'Motor vehicle accidents', 'Alzheimer's disease',
       'Diabetes mellitus', 'Influenza and pneumonia',
       'Nephritis, nephrotic syndrome and nephrosis',
       'Intentional self-harm (suicide)', 'Injury by firearms',
       'Chronic liver disease and cirrhosis', 'Assault (homicide)'],
      dtype='object')

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 16 columns):
State                                          57 non-null object
Total                                          57 non-null float64
Diseases of heart                              57 non-null float64
Malignant neoplasms (cancer)                   57 non-null float64
Cerebrovascular diseases                       57 non-null object
Chronic lower respiratory disease              57 non-null object
Total Accidents                                57 non-null object
Motor vehicle accidents                        57 non-null object
Alzheimer's disease                            57 non-null object
Diabetes mellitus                              57 non-null object
Influenza and pneumonia                        57 non-null object
Nephritis, nephrotic syndrome and nephrosis    57 non-null object
Intentional self-harm (suicide)                57 non-null object
Injury by firearms                             57 non-null object
Chronic liver disease and cirrhosis            57 non-null object
Assault (homicide)                             57 non-null object
dtypes: float64(3), object(13)
memory usage: 7.5+ KB

In [23]:
for column in df.columns[1:]:
    if df[column].dtype == object:
        # Drop rows that have (S)
        df[column] = df[~df[column].str.contains('(S)'), column]
        df[column] = df[column].dropna().str.replace(',', '').astype(np.float)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:4: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  after removing the cwd from sys.path.

TypeError: bad operand type for unary ~: 'float'

In [8]:
df.head(5)

,State,Total,Diseases of heart,Malignant neoplasms (cancer),Cerebrovascular diseases,Chronic lower respiratory disease,Total Accidents,Motor vehicle accidents,Alzheimer's disease,Diabetes mellitus,Influenza and pneumonia,"Nephritis, nephrotic syndrome and nephrosis",Intentional self-harm (suicide),Injury by firearms,Chronic liver disease and cirrhosis,Assault (homicide)
0,United States,760.2,190.9,178.4,42.2,40.8,40.0,14.4,22.7,22.5,16.2,14.5,11.3,10.2,9.1,6.1
1,Alabama,930.7,235.5,197.3,54.5,50.2,53.9,25.9,30.1,26.0,17.8,20.7,12.5,17.5,9.9,10.5
2,Alaska,755.1,147.9,179.9,44.3,44.4,55.3,15.2,20.8,23.4,12.9,10.5,22.1,17.8,11.4,7.1
3,Arizona,682.1,152.5,152.8,32.7,40.2,49.4,17.6,29.6,17.4,13.5,7.9,16.1,15.1,11.7,8.3
4,Arkansas,882.8,221.8,200.4,57.4,51.7,47.6,23.7,24.6,26.5,22.3,20.6,14.3,15.2,8.6,8.8

In [25]:
# Finds the highest value column per row (Highest cause of death for each row aka state)
df.idxmax(axis=1)

ValueError: could not convert string to float: '(S)'