In [4]:
!pip install matplotlib
!pip install numpy
!pip install seaborn

Requirement already satisfied: matplotlib in c:\users\jwong008\code\datasc~1\finalp~1\venv~1\lib\site-packages (3.0.2)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\jwong008\code\datasc~1\finalp~1\venv~1\lib\site-packages (from matplotlib) (2.7.5)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\jwong008\code\datasc~1\finalp~1\venv~1\lib\site-packages (from matplotlib) (2.3.0)
Requirement already satisfied: cycler>=0.10 in c:\users\jwong008\code\datasc~1\finalp~1\venv~1\lib\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\jwong008\code\datasc~1\finalp~1\venv~1\lib\site-packages (from matplotlib) (1.0.1)
Requirement already satisfied: numpy>=1.10.0 in c:\users\jwong008\code\datasc~1\finalp~1\venv~1\lib\site-packages (from matplotlib) (1.15.4)
Requirement already satisfied: six>=1.5 in c:\users\jwong008\code\datasc~1\finalp~1\venv~1\lib\site-packages (from python-dateutil>=2.1->matplotlib) (1.12.0)
Requirement already satisfied: setuptools in c:\users\jwong008\code\datasc~1\finalp~1\venv~1\lib\site-packages (from kiwisolver>=1.0.1->matplotlib) (40.6.2)
Requirement already satisfied: numpy in c:\users\jwong008\code\datasc~1\finalp~1\venv~1\lib\site-packages (1.15.4)
Collecting seaborn
  Downloading https://files.pythonhosted.org/packages/a8/76/220ba4420459d9c4c9c9587c6ce607bf56c25b3d3d2de62056efe482dadc/seaborn-0.9.0-py3-none-any.whl (208kB)
Requirement already satisfied: numpy>=1.9.3 in c:\users\jwong008\code\datasc~1\finalp~1\venv~1\lib\site-packages (from seaborn) (1.15.4)
Requirement already satisfied: matplotlib>=1.4.3 in c:\users\jwong008\code\datasc~1\finalp~1\venv~1\lib\site-packages (from seaborn) (3.0.2)
Collecting scipy>=0.14.0 (from seaborn)
  Using cached https://files.pythonhosted.org/packages/e8/08/6ceee982af40b23566016e29a7a81ed258e739d2d718e03049446c3ccf31/scipy-1.1.0-cp37-none-win32.whl
Collecting pandas>=0.15.2 (from seaborn)
  Downloading https://files.pythonhosted.org/packages/26/fc/d0509d445d2724fbc5f9c9a6fc9ce7da794873469739b6c94afc166ac2a2/pandas-0.23.4-cp37-cp37m-win32.whl (6.8MB)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\jwong008\code\datasc~1\finalp~1\venv~1\lib\site-packages (from matplotlib>=1.4.3->seaborn) (2.3.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\jwong008\code\datasc~1\finalp~1\venv~1\lib\site-packages (from matplotlib>=1.4.3->seaborn) (1.0.1)
Requirement already satisfied: cycler>=0.10 in c:\users\jwong008\code\datasc~1\finalp~1\venv~1\lib\site-packages (from matplotlib>=1.4.3->seaborn) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\jwong008\code\datasc~1\finalp~1\venv~1\lib\site-packages (from matplotlib>=1.4.3->seaborn) (2.7.5)
Collecting pytz>=2011k (from pandas>=0.15.2->seaborn)
  Downloading https://files.pythonhosted.org/packages/f8/0e/2365ddc010afb3d79147f1dd544e5ee24bf4ece58ab99b16fbb465ce6dc0/pytz-2018.7-py2.py3-none-any.whl (506kB)
Requirement already satisfied: setuptools in c:\users\jwong008\code\datasc~1\finalp~1\venv~1\lib\site-packages (from kiwisolver>=1.0.1->matplotlib>=1.4.3->seaborn) (40.6.2)
Requirement already satisfied: six in c:\users\jwong008\code\datasc~1\finalp~1\venv~1\lib\site-packages (from cycler>=0.10->matplotlib>=1.4.3->seaborn) (1.12.0)
Installing collected packages: scipy, pytz, pandas, seaborn
Successfully installed pandas-0.23.4 pytz-2018.7 scipy-1.1.0 seaborn-0.9.0

In [37]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

# Data Cleaning
Here, we remove the notes and citations at the bottom of the data

In [113]:
files = os.listdir('raw_data/mortality')
for file in files:
    with open('raw_data/mortality/' + file, 'r+') as f:
        a = f.read()
        
    split_ = a.split('"---"')
    print(file, a.count('"---"'))
    with open('data/mortality/' + file, 'w+') as f:
        f.write(split_[0])

Alabama.txt 6
Alaska.txt 6
Arizona.txt 6
Arkansas.txt 6
California.txt 6
Colorado.txt 6
Connecticut.txt 6
DC.txt 6
Delaware.txt 6
Florida.txt 6
Georgia.txt 6
Hawaii.txt 6
Idaho.txt 6
Illinois.txt 6
Indiana.txt 6
Iowa.txt 6
Kansas.txt 6
Kentucky.txt 6
Louisiana.txt 6
Maine.txt 6
Maryland.txt 6
Massachusetts.txt 6
missouri.txt 6
MN.txt 6
montana.txt 6
MS.txt 6
M‚Å¨ichigan.txt 6
nc.txt 6
nd.txt 6
nebraska.txt 6
Nevada.txt 6
NH.txt 6
nj (2).txt 6
nm.txt 6
ny.txt 6
og.txt 6
ohio'.txt 6
ok.txt 6
pn.txt 6
ri.txt 6
sc.txt 6
sd.txt 6
tn.txt 6
tx.txt 6
ut.txt 6
vg.txt 6
vm.txt 6
wa.txt 6
wi.txt 6
wv.txt 6
wy.txt 6

Then, we can read from each txt/csv file and concatenate the DataFrames after reading them using the Pandas library.

In [ ]:
combine_files = False

In [ ]:
if combine_files:
    files = os.listdir('data/mortality')
    # with open('data/mortality/master.txt', 'w+') as f:
    with open('data/mortality/Alabama.txt', 'r') as g:
    #         f.write(g.read())
        df = pd.read_csv('data/mortality/Alabama.txt', sep='\t', lineterminator='\r', encoding = "utf-8")
    for file in files[1:]:
        if file == 'combined':
            continue
    #     with open('data/mortality/' + file, 'r') as h:
    #             f.writelines(h.readlines()[1:])
        print(file)
        next_df = pd.read_csv('data/mortality/' + file, sep='\t', lineterminator='\r', encoding = 'ISO-8859-1')
        df = pd.concat([df, next_df])
    df.to_csv('data/mortality/combined/master.csv', mode='w', sep='\t', encoding='utf-8')

We can test if the combined csv works here.

In [173]:
# test = pd.read_csv('data/mortality/combined/master.csv', sep='\t', engine='python', encoding='utf-8')

Let's describe the DataFrame and see how many deaths are recorded in this dataset.

In [171]:
df.describe()

,Deaths,Population,State Code,Year,Year Code
count,299256.000000,2.992560e+05,299256.000000,299256.000000,299256.000000
mean,151.719468,9.465143e+06,28.637802,2008.179515,2008.179515
std,599.703516,8.814195e+06,15.519940,5.516246,5.516246
min,10.000000,4.917800e+05,1.000000,1999.000000,1999.000000
25%,15.000000,3.670883e+06,16.000000,2003.000000,2003.000000
50%,29.000000,6.332669e+06,28.000000,2008.000000,2008.000000
75%,86.000000,1.226380e+07,42.000000,2013.000000,2013.000000
max,27659.000000,3.953665e+07,56.000000,2017.000000,2017.000000

In [176]:
df['State'].value_counts()

California              15890
Texas                   13621
Florida                 12910
New York                11790
Pennsylvania            10839
Ohio                    10408
Illinois                10190
Michigan                 9218
North Carolina           8901
Georgia                  8422
New Jersey               7839
Virginia                 7575
Tennessee                7560
Indiana                  7251
Washington               7232
Missouri                 7009
Massachusetts            6706
Wisconsin                6635
Arizona                  6473
Maryland                 6303
South Carolina           6262
Alabama                  6222
Minnesota                6186
Kentucky                 5787
Louisiana                5734
Colorado                 5541
Oregon                   5531
Oklahoma                 5103
Iowa                     4815
Mississippi              4769
Connecticut              4746
Arkansas                 4631
Kansas                   4443
West Virginia            3904
Nevada                   3657
New Mexico               3644
Utah                     3466
Nebraska                 3443
Maine                    2997
Idaho                    2922
Montana                  2597
New Hampshire            2589
Hawaii                   2556
Rhode Island             2367
Delaware                 2210
South Dakota             2086
North Dakota             1820
District of Columbia     1707
Vermont                  1680
Wyoming                  1600
Alaska                   1469
Name: State, dtype: int64

In [ ]:
# TODO: Get the max underlying cause of death for each state

In [181]:
df.groupby(['State', 'Underlying Cause of death'])['Deaths'].max()

State    Underlying Cause of death
Alabama  Abdomen - Malignant neoplasms                                                                                                                    22.0
         Abdominal aortic aneurysm, ruptured                                                                                                              73.0
         Abdominal aortic aneurysm, without mention of rupture                                                                                            61.0
         Abnormal findings on diagnostic imaging of lung                                                                                                  13.0
         Accidental poisoning by and exposure to alcohol                                                                                                  26.0
         Accidental poisoning by and exposure to antiepileptic, sedative-hypnotic, antiparkinsonism and psychotropic drugs, not elsewhere classified      65.0
         Accidental poisoning by and exposure to narcotics and psychodysleptics [hallucinogens], not elsewhere classified                                262.0
         Accidental poisoning by and exposure to nonopioid analgesics, antipyretics and antirheumatics                                                    13.0
         Accidental poisoning by and exposure to other and unspecified drugs, medicaments and biological substances                                      431.0
         Accidental poisoning by and exposure to other gases and vapours                                                                                  29.0
         Accidental suffocation and strangulation in bed                                                                                                  20.0
         Acidosis                                                                                                                                         52.0
         Acute and subacute hepatic failure                                                                                                               20.0
         Acute and subacute infective endocarditis                                                                                                        30.0
         Acute cholecystitis                                                                                                                              26.0
         Acute hepatitis B without delta-agent and without hepatic coma                                                                                   14.0
         Acute hepatitis C                                                                                                                                69.0
         Acute ischaemic heart disease, unspecified                                                                                                       33.0
         Acute leukaemia of unspecified cell type - Malignant neoplasms                                                                                   41.0
         Acute lymphoblastic leukaemia - Malignant neoplasms                                                                                              27.0
         Acute myeloid leukaemia - Malignant neoplasms                                                                                                   151.0
         Acute myocardial infarction, unspecified                                                                                                       3820.0
         Acute pancreatitis                                                                                                                               86.0
         Acute pancreatitis, unspecified                                                                                                                  79.0
         Acute peritonitis                                                                                                                                20.0
         Acute posthaemorrhagic anaemia                                                                                                                   12.0
         Acute renal failure, unspecified                                                                                                                246.0
         Acute respiratory failure                                                                                                                       120.0
         Acute subendocardial myocardial infarction                                                                                                       98.0
         Acute vascular disorders of intestine                                                                                                            82.0
                                                                                                                                                         ...
Wyoming  Person injured in collision between other specified motor vehicles (traffic)                                                                     25.0
         Person injured in unspecified motor-vehicle accident, traffic                                                                                    63.0
         Phlebitis and thrombophlebitis of other deep vessels of lower extremities                                                                        11.0
         Pneumonia, unspecified                                                                                                                          115.0
         Pneumonitis due to food and vomit                                                                                                                57.0
         Primary pulmonary hypertension                                                                                                                   20.0
         Pulmonary embolism without mention of acute cor pulmonale                                                                                        35.0
         Respiratory failure, unspecified                                                                                                                 23.0
         Rheumatoid arthritis, unspecified                                                                                                                11.0
         Senility                                                                                                                                         18.0
         Septicaemia, unspecified                                                                                                                         63.0
         Sequelae of other and unspecified cerebrovascular diseases                                                                                       20.0
         Sequelae of stroke, not specified as haemorrhage or infarction                                                                                   15.0
         Stomach, unspecified - Malignant neoplasms                                                                                                       19.0
         Stroke, not specified as haemorrhage or infarction                                                                                              164.0
         Subarachnoid haemorrhage, unspecified                                                                                                            18.0
         Subdural haemorrhage (acute)(nontraumatic)                                                                                                       12.0
         Sudden cardiac death, so described                                                                                                               15.0
         Unspecified dementia                                                                                                                            206.0
         Unspecified diabetes mellitus, with peripheral circulatory complications                                                                         10.0
         Unspecified diabetes mellitus, with renal complications                                                                                          23.0
         Unspecified diabetes mellitus, without complications                                                                                             79.0
         Unspecified fall                                                                                                                                 40.0
         Unspecified protein-energy malnutrition                                                                                                          10.0
         Unspecified renal failure                                                                                                                        56.0
         Unspecified severe protein-energy malnutrition                                                                                                   10.0
         Urinary tract infection, site not specified                                                                                                      31.0
         Vascular dementia, unspecified                                                                                                                   20.0
         Vascular disorder of intestine, unspecified                                                                                                      15.0
         Volume depletion                                                                                                                                 15.0
Name: Deaths, Length: 26160, dtype: float64

In [109]:
df = df.dropna()
df = df.sort_values(by='Deaths', ascending=False)

We should convert the year column to an integer value as a float type doesn't make sense.

In [111]:
df['Year'] = df['Year'].astype(int)

In [112]:
df['Deaths'].groupby(df['Year']).sum().sort_values(ascending=False)

Year
2017    50519.0
2016    49840.0
2015    49308.0
2014    47662.0
2013    47608.0
2012    46790.0
2011    46057.0
2010    45529.0
2008    44971.0
2009    44830.0
2005    44411.0
2006    44326.0
2007    44180.0
2003    44029.0
2004    43432.0
2002    43403.0
2001    42700.0
2000    42231.0
1999    42141.0
Name: Deaths, dtype: float64